@tailwind base;
@tailwind components;
@tailwind utilities;

body.active-modal {
    overflow-y: hidden;
}

.modal, .overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    position: fixed;
}

.overlay {
    background: rgba(49,49,49,0.8);
}
.modal-content {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.navigation {
    padding-top: 5px;
}

.navigation :hover{
    background: white;
    border-top-left-radius: 30;
}