@tailwind base;
@tailwind components;
@tailwind utilities;

body.active-modal {
    overflow-y: hidden;
}

.widthMenu {
    width: 229px;
}

.menuScroll {
    position: fixed;
    top: 0;
    left: 0;
}

.modal, .overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    position: fixed;
}

.overlay {
    background: rgba(49,49,49,0.8);
}
.modal-content {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.noClick {
    pointer-events:none;
    cursor: not-allowed;
    opacity: 0.65;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
}

.navigation {
    padding-top: 5px;
}

.navigation :hover{
    background: white;
    border-top-left-radius: 30;
}

.bgRED {
    background-color: #BB5555;
}

.bgGREEN {
    background-color: #239B65;
}

.bgBLUE {
    background-color: #235D9B;
}

.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}